.step-block {
    display: grid;
    grid-template-columns: 100px auto;
    align-content: center;
    justify-content: start;
    padding: 12px 0 24px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 12px;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
}
