.nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    padding: 24px 12px 12px;
}

.nav-link.home-link {
    padding-bottom: 30px;
}

.nav-link.home-link:after {
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    content: "";
    display: block;
    height: 5px;
    margin-top: 18px;
    width: 132px;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 4px;
    color: var(--main-color)
}

.nav-link:hover {
    color:var(--main-color-hover);
}
